# Application Configuration
APP_NAME=Factus
PORT=3000

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password_here
DB_NAME=FactusDB

# Configuración CORS - Orígenes permitidos (opcional)
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Entorno de desarrollo
NODE_ENV=development